@import "../../styles/main";

.Header {
  position: sticky;
  top: 0;
  padding: $spacing-4 0;
  @include sm {
    padding: $spacing-8 0;
  }
  z-index: 100;
  background: white;
  transition: box-shadow 300ms;
  &.scrolled {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }
  & > .content {
    margin: 0 auto;
    width: 90%;
    max-width: $max-page-width;
    display: flex;
    align-items: center;
    justify-content: center;
    & > .right {
      display: none;
    }
    @include sm {
      justify-content: space-between;
      & > .left {
        width: 200px;
      }
      & > .right {
        display: block;
        & > *:nth-child(2) {
          margin-left: $spacing-4;
        }
      }
    }
  }
  // padding: $spacing-2;
}
