@import "../../styles/main";

.Header {
  position: sticky;
  top: 0;
  padding: $spacing-4 0;
  margin: $spacing-4;
  border-radius: $spacing-1;
  @include sm {
    padding: $spacing-4 0;
  }
  z-index: 100;
  background: white;
  transition: box-shadow 300ms, background-color 300ms, padding 300ms;

  &.scrolled {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  }

  & > .content {
    margin: 0 auto;
    width: 90%;
    max-width: $max-page-width;
    display: flex;
    align-items: center;
    justify-content: center;
    & > .left {
      width: 200px;
      position: relative;
      transform: translateY(2px);
    }
    & > .right {
      display: none;
    }
    @include sm {
      justify-content: space-between;
      & > .right {
        display: block;
        & > *:nth-child(2) {
          margin-left: $spacing-4;
        }
      }
    }
  }
}
